@font-face {
    font-family: Norse;
    src: url(sources/Norse-Bold.otf);
}

.content, html, body{
    height: 100%;
    margin: 0;
}

.content{
    display: flex;
    flex-flow:row wrap;
    align-items: stretch;
}

#left-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(sources/background-image.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 33%;
}
.odin-logo{
    background-color: rgba(0, 0, 2, 0.5);
    margin-top: 22vh;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.odin-logo h1{
    font-family: Norse;
    font-size: 96px;
    color: white;
}

.photo-credit{
    color: white;
}

.odin-logo img{
    width: 5vw;
    height: auto;
}

#form-section{
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#hero-text{
    margin-left: 70px;
}

#sign-up-form{
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    height: 33%;
    padding-left: 70px;
}

.form-row {
    margin-bottom: 20px;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

.input-field{
    display: flex;
    flex-direction: column;
}

.form-row input {
background-color: #FFFFFF;
border: 1px solid #D6D9DC;
border-radius: 3px;
padding: 7px;
font-size: 14px;
}

  
